.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.heading h1 {
  color: #fff;
  margin: 45px 0px;
}
.nav{padding-bottom: 0px;}
.navbar{
}
.logo {
  margin-top: 10px;
}
.logo video {
  float: left;
  margin-left: 30px;
}
.nav{flex-direction: row ; padding-left: 25px;}
.nav a{margin:45px 0px 45px 20px; background: transparent;}

/* navbar design ends here */

.top {
  top: 40px;
  right: 45px;
  transition: width 2s, transform 2s;
}
.top:hover{
width: 140px;}
.about h2 {
  font-size: 45px;
}
.about p {
  width: 50%;
  margin: 0 auto;
}

.bottom{width: 100px; height: 100px; position: absolute; bottom: 40px; left: 45px; transition: width 2s, transform 2s;}

.bottom:hover{
  width: 140px;}

  /* profile design ends here */

  .image img{ width: 300px; height: 300px; margin-top: 40px;}
  .aboutdesc p{text-align: left;}

   /* profile design ends here */

   /* experience design ends here */